<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage">
        <!-- Currently there is no way application to use Media Store APIs.
        Also there is no way to pass Google policy -->
    </uses-permission>

</manifest>
